{% extends 'base.html' %}
{% block css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css')}}" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" media="all" />
{% endblock %}

{% block main %}
<body class="childrenBody">
	<div class="panel_box row">
		<div class="panel col">
			<a href="{{ url_for('wallet_list') }}">
				<div class="panel_icon">
					<i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
				</div>
				<div class="panel_word newMessage">
					<span></span>
					<cite>消费列表</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="{{ url_for('useradd') }}">
				<div class="panel_icon" style="background-color:#FF5722;">
					<i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
				</div>
				<div class="panel_word userAll">
					<span></span>
					<cite>新增会员</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="{{ url_for('userlist') }}" data-url="page/user/allUsers.html">
				<div class="panel_icon" style="background-color:#009688;">
					<i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
				</div>
				<div class="panel_word userAll">
					<span></span>
					<cite>会员列表</cite>
				</div>
			</a>
		</div>
		<div class="panel col">
			<a href="{{url_for('count_data')}}" data-url="page/img/images.html">
				<div class="panel_icon" style="background-color:#5FB878;">
					<i class="layui-icon" data-icon="&#xe64a;">&#xe64a;</i>
				</div>
				<div class="panel_word imgAll">
					<span></span>
					<cite>统计数据</cite>
				</div>
			</a>
		</div>
	</div>
	<blockquote class="layui-elem-quote explain">
		<!--<p>本模板基于Layui实现，支持除LayIM外所有的Layui组件。<a href="http://layim.layui.com/" target="_blank" class="layui-btn layui-btn-mini">前往获取LayIM授权</a><a href="https://git.oschina.net/layuicms/layuicms" target="_blank" class="layui-btn layui-btn-mini layui-btn-danger">码云下载</a><a href="https://github.com/BrotherMa/layuiCMS" target="_blank" class="layui-btn layui-btn-mini layui-btn-danger">GitHub下载</a>　<span style="color:#1E9FFF;">郑重提示：网站所有数据均为静态数据，无数据库，除打开的窗口和部分小改动外所有操作刷新后无效，关闭窗口或清除缓存后，所有操作无效，请知悉</span></p>-->
		<!--<p>开发文档地址：<a class="layui-btn layui-btn-mini" target="_blank" href="http://www.layui.com/doc">点此跳转</a> <a class="layui-btn layui-btn-mini layui-btn-danger" target="_blank" href="http://fly.layui.com/case/u/3198216">我要点赞</a>　技术交流QQ群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8b7dd3ea73528c1e46c5d4e522426d60deed355caefdf481c1eacdd1b7b73bfd"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="layui后台管理模版" title="layui后台管理模版"></a>（添加时请注明来自本框架） <span style="color:#f00;">注：本框架未引入任何第三方组件（天气信息除外），单纯的layui+js实现的各种功能【本框架仅作为学习交流使用，如需用作商业用途，请联系作者授权，谢谢】</span></p>-->
	<p>收银(根据id或者手机号码查出客户详情后,输入消费金额,点击消费)</p>
	</blockquote>
	<div class="row">
		<div class="sysNotice col">
            <blockquote class="layui-elem-quote title">查询会员:
                    <div class="layui-form-item">
                    <form class="layui-form" method="get" action="{{ url_for('main') }}">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" name="idphone" value="{{ formdata }}" placeholder="卡号/电话"
                                       class="layui-input search_input" >
                            </div>
                            <button class="layui-btn" lay-submit lay-filter="formDemo" >查询</button>
                        </div>
                        {% if error %}
                            <button class="layui-btn layui-btn-danger" disabled='True'>{{ error }}</button>
                        {% endif %}
                    </form>
                    </div>
            </blockquote>
            <div class="layui-elem-quote layui-quote-nm">
                 <form class="layui-form" method="post" action="{{ url_for('wallte') }}">
                <h3>请输入消费金额</h3>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="hidden" name="card" value="{{ user_info.id_card }}" placeholder="idcard"
                                       class="layui-input">
                        <input type="text" name="wallet" placeholder="消费金额" class="layui-input">
                    </div>
                    <button class="layui-btn" lay-submit lay-filter="formDemo">消费</button>
                </div>
                 </form>
            </div>

		</div>
		<div class="sysNotice col">
			<blockquote class="layui-elem-quote title">会员详情</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>客户姓名</td>
						<td class="version">{{ user_info.username }}</td>
					</tr>
					<tr>
						<td>卡号</td>
						<td class="author">{{ user_info.id_card }}</td>
					</tr>
					<tr>
						<td>vip</td>
						<td class="homePage">{% if user_info.vip==1 %}yes{% elif user_info%}no{% endif %}</td>
					</tr>
					<tr>
						<td>钱包余额</td>
						<td class="server">{{ user_info.amount }}</td>
					</tr>
					<tr>
						<td>手机号码</td>
						<td class="dataBase">{{ user_info.phone }}</td>
					</tr>
				</tbody>
			</table>
			<blockquote class="layui-elem-quote title">充值<i class="iconfont icon-new1"><a onclick="add_money()">点击</a></i></blockquote>
		</div>
	</div>
{% endblock %}
{% block js %}
{#	<script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js')}}"></script>#}
	<script type="text/javascript" src="{{ url_for('static',filename='js/main.js')}}"></script>
{#    <script type="text/javascript" src="{{ url_for('static',filename='js/index.js')}}"></script>#}
    <script>
        function add_money() {
            alert('{{ user_info.id }}');
            layer.open({
            type: 1
            ,title: false //不显示标题栏
            ,closeBtn: false
            ,area: '300px;'
            ,shade: 0.8
            ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
            ,moveType: 1 //拖拽模式，0或者1
            ,content: '<div style="padding: 20px; line-height: 22px; background-color: #1AA094;">充值金额' +
                '<br><form class="layui-form" method=post action="{{ url_for('add_wallte')}}"><input type=text class="layui-input" name="add_money"><input type=hidden  name="user_id" value="{{ user_info.id }}"><div class="layui-input-block"><button class="layui-btn" type=submit>确定</button><button type=reset class="layui-btn layui-btn-primary">重置</button></div></div></form>'
            });
        }
    </script>

{% endblock %}