{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css')}}" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/user.css')}}" media="all" />
     <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" media="all" />
{% endblock %}
{% block main %}

<body class="childrenBody">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
        <form class="layui-form" method="get" action="{{ url_for('userlist') }}">
		    <div class="layui-input-inline">
		    	<input type="text" name="idphone" value="{{ formdata }}" placeholder="卡号/电话" class="layui-input search_input">
		    </div>
		    <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
        </form>
		</div>

		<div class="layui-inline">
			<a href="{{ url_for('useradd') }}" class="layui-btn layui-btn-normal usersAdd_btn">添加用户</a>
		</div>
		<div class="layui-inline">
		</div>
	</blockquote>
	<div class="layui-form users_list">
	  	<table class="layui-table">
		    <colgroup>
				<col >
				<col >
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="12%">
				<col width="10%">
		    </colgroup>
		    <thead>
				<tr>
					<th>修改</th>
					<th>删除</th>
                    <th>卡号</th>
					<th>姓名</th>
					<th>钱包</th>
					<th>vip</th>
					<th>手机号</th>
					<th>备注</th>
					<th>时间</th>
				</tr> 
		    </thead>
            {% for user in pagination.items %}
		    <tbody class="users_content">
            <td><a href="{{ url_for('userInfo', user_id=user.id, next=request.path) }}">up </a></td>
            <td><a href="{{ url_for('userdel', user_id=user.id, next=request.path) }}">del</a></td>
            <td>{{ user.id_card }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.amount }}</td>
            <td>{% if user.vip ==1 %}yes{% else %}no{% endif %}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.note }}</td>
            <td>{{ user.create_time }}</td>
            </tbody>
            {% endfor %}
		</table>
	</div>
    <div id='page_users'>
        {% from "macros.html" import render_pagination %}
        {{ render_pagination(pagination, 'userlist') }}
    </div>

   </body>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js')}}"></script>
{% endblock %}
